force-app/main/default/flows/Participant_when_delete_update_quantity_on_Training_Session.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_count</name>
        <label>Assign count</label>
        <locationX>460</locationX>
        <locationY>1134</locationY>
        <assignmentItems>
            <assignToReference>countParticipant</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_participants_in_Training_Session</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_training_session</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Participant_validation</name>
        <label>Participant validation</label>
        <locationX>449</locationX>
        <locationY>965</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_null2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_participants_in_Training_Session</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_count</targetReference>
            </connector>
            <label>not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Training_Session_validation</name>
        <label>Training Session validation</label>
        <locationX>447</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training_Session</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_participants_in_Training_Session</targetReference>
            </connector>
            <label>not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation_Status</name>
        <label>Validation Status</label>
        <locationX>268</locationX>
        <locationY>1416</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sold_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training_Session.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sold Out</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>countOperation</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>25.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_training_session_0</targetReference>
            </connector>
            <label>Sold Out</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>countOperation</name>
        <dataType>Number</dataType>
        <expression>IF({!countParticipant}=1, 0, ({!countParticipant}-1))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Participant - when delete update quantity on Training Session {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Participant - when delete update quantity on Training Session</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_participants_in_Training_Session</name>
        <label>Get participants in Training Session</label>
        <locationX>458</locationX>
        <locationY>780</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Participant_validation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Training_Session__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Training_Session.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Participant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_Session</name>
        <label>Get Training Session</label>
        <locationX>456</locationX>
        <locationY>416</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Training_Session_validation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Training_Session__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Training_Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_training_session</name>
        <label>update training session</label>
        <locationX>459</locationX>
        <locationY>1325</locationY>
        <connector>
            <targetReference>Validation_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Training_Session.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quantity_Participant__c</field>
            <value>
                <elementReference>countOperation</elementReference>
            </value>
        </inputAssignments>
        <object>Training_Session__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_training_session_0</name>
        <label>update training session</label>
        <locationX>409</locationX>
        <locationY>1538</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Training_Session.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Training_Session__c</object>
    </recordUpdates>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Training_Session</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Training_Session__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Participant__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>countParticipant</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
