force-app/main/default/flows/Training_Session_Recordatorio_1_dia_antes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_email</name>
        <label>send email</label>
        <locationX>866</locationX>
        <locationY>954</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>loop_participants</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>jrosa@switchbt.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>loop_participants.Opportunity__r.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XO9000008scGbMAI</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>send_email_0</name>
        <label>send email</label>
        <locationX>71</locationX>
        <locationY>966</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>loop_participants_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>jrosa@switchbt.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>loop_participants_0.Opportunity__r.Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XO9000008scLRMAY</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Presencial_o_Virtual</name>
        <label>Presencial o Virtual</label>
        <locationX>426</locationX>
        <locationY>880</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Presencial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In person</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_participants_0</targetReference>
            </connector>
            <label>Presencial</label>
        </rules>
        <rules>
            <name>Virtual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Virtual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_participants</targetReference>
            </connector>
            <label>Virtual</label>
        </rules>
    </decisions>
    <decisions>
        <name>Training_Date_validation</name>
        <label>Training Date validation</label>
        <locationX>452</locationX>
        <locationY>357</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tomorrow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StartDatePlusOne</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TodayPlusOne</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_participants</targetReference>
            </connector>
            <label>Tomorrow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation_participant</name>
        <label>Validation participant</label>
        <locationX>454</locationX>
        <locationY>738</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_participants</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Presencial_o_Virtual</targetReference>
            </connector>
            <label>not null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>StartDatePlusOne</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.Session_Start__c})</expression>
    </formulas>
    <formulas>
        <name>TodayPlusOne</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1</expression>
    </formulas>
    <interviewLabel>Training Session - Recordatorio 1 dia antes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Training Session - Recordatorio 1 dia antes</label>
    <loops>
        <name>loop_participants</name>
        <label>loop participants</label>
        <locationX>627</locationX>
        <locationY>951</locationY>
        <collectionReference>get_participants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>send_email</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>loop_participants_0</name>
        <label>loop participants</label>
        <locationX>287</locationX>
        <locationY>963</locationY>
        <collectionReference>get_participants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>send_email_0</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_participants</name>
        <label>get participants</label>
        <locationX>460</locationX>
        <locationY>554</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validation_participant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Training_Session__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Participant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Training_Date_validation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Session_Start__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Training_Session__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-12-18</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recipientsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
