force-app/main/default/flows/Training_Session_Recordatorio_30_dia_antes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_email</name>
        <label>send email</label>
        <locationX>693</locationX>
        <locationY>740</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>loop_participants</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>jrosa@switchbt.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>loop_participants.Opportunity__r.Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XO9000008nozxMAA</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Store_emails</name>
        <label>Store emails</label>
        <locationX>463</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>recipientsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_participants.Opportunity__r.ContactId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Training_Date_validation</name>
        <label>Training Date validation</label>
        <locationX>452</locationX>
        <locationY>358</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X30_dias_antes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>daysbefore</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_participants</targetReference>
            </connector>
            <label>30 dias antes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation_participant</name>
        <label>Validation participant</label>
        <locationX>261</locationX>
        <locationY>650</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_participants</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_participants</targetReference>
            </connector>
            <label>not null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>daysbefore</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(DATEVALUE({!$Record.Session_Start__c}), VALUE(TEXT({!$Record.Training__r.Certificate_valid_until_months__c}))
) - 30</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Training Session - Recordatorio 30 dia antes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Training Session - Recordatorio 30 dia antes</label>
    <loops>
        <name>loop_participants</name>
        <label>loop participants</label>
        <locationX>461</locationX>
        <locationY>740</locationY>
        <collectionReference>get_participants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>send_email</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_participants</name>
        <label>get participants</label>
        <locationX>460</locationX>
        <locationY>555</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validation_participant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Training_Session__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Attendance_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Present</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Participant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Training_Date_validation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Session_Start__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Training_Session__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-12-18</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Saludos,&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Este es un recordatorio de que tu certificado está próximo a vencer. Te invitamos a renovar tu certificación.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Toda la información sobre las sesiones presenciales disponibles, incluyendo fechas, horarios y ubicaciones, está detallada en el siguiente enlace:&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://aesinternational20--aesidevop.sandbox.my.site.com/trainingevents/s/?Training_Session__c-filterId=Training_Sessions&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Accede aquí para ver los adiestramientos presenciales.&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Recuerda que los &lt;strong&gt;Requisitos Obligatorios&lt;/strong&gt; incluyen:&lt;/p&gt;&lt;p&gt;• Tarjeta del DRNA&lt;/p&gt;&lt;p&gt;• Formulario de registro&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;IMPORTANTE:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;• Completa tu registro a través del enlace proporcionado.&lt;/p&gt;&lt;p&gt;• Verifica siempre la información de tu adiestramiento el día anterior al evento.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;De tener cualquier pregunta, no dude en comunicarse con nuestro equipo.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Gracias por su atención y continuo patrocinio.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Cordialmente,&lt;/p&gt;&lt;p&gt;Equipo de AESI&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recipientsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
